/*1楼*/
/*美食资讯*/
.container>div>.text-center>span{
    border-bottom: 3px solid #e25111;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.container>div>.text-center{
    padding-bottom: 1rem;
}
/*边框*/
.container>div>.border_color{
    border-top:1px solid #cccccc;
    padding-top: 2rem;
}
/*2楼*/
.container>div>div>ul>li>a{
    color:#000;
    font-size:20px;
    text-decoration: none;
    padding: 0 2rem;
}
.container>div>div>ul>li>a>span:hover{
    color:#e25111;
    border-bottom: 2px solid #e25111;
    padding-bottom: 1rem;
}
/*图片*/
.container>div>div>img{
    margin: 0  0 3rem 0;
}
.container>p{
    color:#b2abab;
}
.container>div>ul>li>a{
    color:#b2abab;
    text-decoration: none;
    margin: 0 1rem;
}
.container>div>ul{
    margin: 3rem 0;
}
/*媒体查询*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .container>h2{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 767px) and (min-width: 568px){
    .container>h2{
        font-size: 1rem;
        font-weight: bold;
    }
    .container>.font_size{
        font-size: 0.5rem;
    }
    .container>div>div>ul>li>a{
        padding:0 1rem;
    }
}
@media screen and (max-width: 567px){
    .container>h2{
        font-size: 1rem;
        font-weight: bold;
    }
    .container>.font_size{
        font-size: 0.5rem;
    }
    .container>div>div>ul>li>a{
        padding:0 0.5rem;
    }
}